.main {
    height: 100vh;
}

.header {
    font-family: "Inconsolata", monospace;
    font-weight: 700;
    font-size: 24px;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;

    background-color: #ffffff;
    text-transform: uppercase;
    padding-top: 40px;
    padding-left: 77px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 66px 3rem 42px;
    height: 100%;

    overflow: hidden;
    color: #333333;
}

.imageContainer,
.bodyText {
    width: 50%;
}

.image {
    max-width: 540px;
    max-height: 414px;
    margin: auto;
}

.contentHeading {
    font-weight: 700;
    font-size: 66px;
    line-height: 74px;
}

.contentPara {
    font-weight: 400;
    font-size: 24px;
    line-height: 35.54px;

    width: 382px;
    margin: 3rem 0;
}

.contentButton {
    font-weight: 700;
    font-size: 14px;
    line-height: 20.73px;
    background-color: #333333;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;

    width: 216px;
    height: 68px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 14px;

    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 9;

    background-color: #ffffff;
    color: #bdbdbd;
    padding-bottom: 24px;
    text-align: center;
}

.footer a {
    font-weight: 800;
}

@media only screen and (max-width: 1235px) {
    .main {
        overflow-y: scroll;
    }

    .header {
        padding: 10px;
    }

    .body {
        flex-flow: column;
        margin: 66px 0 80px;
        padding: 0 1rem;
        height: auto;
    }

    .imageContainer,
    .bodyText {
        width: 100%;
    }

    .contentHeading {
        font-size: 46px;
    }

    .contentPara {
        width: 100%;
        font-size: 20px;
    }
}
